body {
    margin: 0px auto;
    max-width: 30em;
}
@supports (display:grid){body{margin: 0;
  max-width:inherit;}}





@media(min-width: 730px){
.container {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
}
}
img{
max-width: 100%;}

.story-lead{grid-column-start: 1;
grid-column-end: 3;}
.story art {width: 100%;}
.main-head a{color: black;}
.lastlink a{color: black;}
h1#myface {

    color: red;
}
h2#myface2 {
    display: inline-block;

    background: black;
    color: white;
}
.container1{    width: 100vw;
    height: 10vh;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;}
.lefthedar{grid-column-start: 1;
grid-column-end: 2;}
.righthedar{grid-column-start: 4;
grid-column-end: 5;}
main {
    background-image: url("file:///C:/Users/kavindu-5128/OneDrive/Desktop/website/project%202/images/footprint.svg");
    background-repeat: no-repeat;
  background-size:30% auto;
background-position: 100% 0;}
.happy-face{width: 100px;
animation-name: bounce;
animation-duration: 1s;
animation-iteration-count: infinite;}
@keyframes bounce {
  50%{transform: translateY(-50px);}

}
