body {
    margin: 0px;
}
@media(min-width: 60em){
.container {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
}
}
img{
max-width: 100%;}
.container header {grid-column-start: 1;
grid-column-end: 4;}
.story-lead{grid-column-start: 1;
grid-column-end: 3;}
.story art {width: 100%;}
