
.box-grid{
    display: grid;
    grid-auto-rows: 21px 1fr;
    grid-template-columns: 1fr;
    width: 800px;
    margin: 20px;
}

.name1{
    grid-row-start: 1/2;
}

.name{
    grid-row-start: 2/3;
}

.email{
    grid-row-start: 2/3;
}

.message{
    grid-row-start: 2/3;
    height: 50px;
}

.answer{
    grid-row-start: 2/3;
}

.button{
    width: 100px;
}

.title{
    padding-left: 20px;
}

.errors{
    background-color: red;
}

.success{
    background-color: green;
}
